language: go

go_import_path: google.golang.org/appengine

install:
  - ./travis_install.sh

script:
  - ./travis_test.sh

matrix:
  include:
    - go: 1.11.x
      env: GO111MODULE=on
    - go: 1.12.x
      env: GO111MODULE=on
    - go: 1.13.x
    - go: 1.14.x
    - go: 1.15.x
    - go: 1.16.x
